.dlcage {
    list-style: none;
    margin:0;
    padding:0;

}
.dlcage__item {
    display: block;
    padding:0;
    margin:0;
    line-height: $header-lineheight;

    &:not(:last-child) {
        margin-bottom: .875em;
    }
}

.dlcage__item__label {
    //display:none;
    //margin-right: -.25em;
    line-height: 1;
    display: inline-block;
    margin-right: .333em;
    //color:$dark-gray;
    svg {
        font-size: .875em;
        transform: translateY(.125em);
    }
}

.dlcage__item__fileinfo {
    font-size: .875em;
    font-weight: $global-weight-bold;
    //opacity: .75;
    font-family: $header-font-family;
    &:before {
        content:'[';
    }
    &:after {
        content:']';
    }

}

.dlcage__item__size {
    white-space: nowrap;
}
.dlcage__item__title {
    font-weight: $global-weight-bold;
    a {
        color:inherit;
        &:hover, &:focus {
            color:$alert-color;
        }
    }
}
.dlcage__item__extension {
    text-transform: uppercase;
}

.dlcage__item__action {
    font-weight: $global-weight-bold;
    font-size: .875em;
    &:hover, &:focus {
            color:$alert-color;
    }
}