.dlcage {
    list-style: none;
    margin:0;
    padding:0;

}
.dlcage__item {
    display: block;
    padding:0;
    margin:0;
    line-height: $header-lineheight;

    &:not(:last-child) {
        margin-bottom: .875em;
    }
}
.dlcage__item__fileinfo {
    font-size: .875em;
    font-weight: $global-weight-bold;
    //opacity: .75;
    font-family: $header-font-family;
    &:before {
        content:'[';
    }
    &:after {
        content:']';
    }

}

.dlcage__item__size {
    white-space: nowrap;
}
.dlcage__item__title {
    font-weight: $global-weight-bold;
}
.dlcage__item__extension {
    text-transform: uppercase;
}

.dlcage__item__action {
    font-size: .875em;
}