.gallerycard {
    //margin-bottom: 2rem;

}
.gallerycard__fig {
    margin:0 0 .875rem;
    background-color: $primary-color;
    background-image: url(../images/pattern-white20.png), linear-gradient(120deg, $primary-color 0, $secondary-color 40%, $secondary-color 60%, $primary-color 100% );
    background-repeat: repeat, no-repeat;
    background-size: 6rem auto, 100%;
    .thumbnail {
        position: relative;
        margin-bottom: 0;
        display: block;
        width: 100%;
        height:0;
        padding-bottom: 56.25%;
        overflow: hidden;

        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit:cover;
            max-width: auto;
            image-rendering: -webkit-optimize-contrast;
        }
    }
}
.gallerycard__header {
}
.gallerycard__title {
    font-size: 1rem;
    margin:0 0 .125em;
    @include breakpoint(xlarge) {
         font-size: 1.125rem;
    }

    a {
        color:inherit;

        &:hover, &:focus {
            color:$alert-color;
        }
    }
}
.gallerycard__label {
    font-size: .666em;
    font-family: $body-font-family;
    color:$alert-color;
    text-transform: uppercase;
}
.gallerycard__meta {
    font-size: .75rem;
    font-weight: $global-weight-bold;
    margin:0 0 0;
    font-family: $header-font-family;
    time {
        color:$primary-color;
    }
}
.gallerycard__excerpt {
    font-size: .875rem;
    margin:.5em 0 .5em 0;
    p {
        margin:0;
    }
}