.membercard {
    text-align: center;
    //margin-bottom: 1rem
}
.membercard__fig {
    position: relative;
    width:100%;
    height:0;
    padding-bottom: 133%;
    //background-color: red;

    img {
        box-shadow: 0 0 .5rem 0 rgba(#000,.333);
        display: block;
        //margin:0 auto;
        position: absolute;
        object-fit: cover;
        //border-radius:50%;
        width: 80%;
        height: 80%;
        left: 10%;
        top:10%;
    }
}
.membercard__header {
}
.membercard__title {
    font-size: 1rem;
    margin:0 0 0;
    line-height: 1.2;
    //color:$warning-color;
    @include breakpoint(large) {
         font-size: 1.125rem;
    }
    @include breakpoint(xxlarge) {
         font-size: 1.25rem;
    }
}
.membercard__titulus {
    margin:0;
    font-size: .875rem;
    line-height: 1.2;
    //font-weight: $global-weight-bold;
    //text-decoration: underline;
    font-family: $body-font-family;
}

.membercard__text {
    font-size: .75rem;
    margin:.75em 0 .5em 0;
    font-style: italic;
}