.menu {
    //font-family: $header-font-family;

}

.sub-menu {
    @extend .menu;
}

.dropdown.menu--main {
    font-family: $header-font-family;
    font-weight: $global-weight-bold;
    a {
        text-transform: uppercase;
        font-size: 1.125rem;
        padding: 1em 1.5rem;
        //color:inherit;
    }

    .is-active {
        > a {
            background-color: transparent;
            color: $alert-color;
            text-decoration: underline;
        }
    }
}

.menu--side {
    font-family: $header-font-family;
    font-weight: $global-weight-bold;
    > li {
        &:not(:last-child) {
            margin-bottom: .125rem;
        }
    }

    a {
        position: relative;
        font-size: 1.125rem;
        //text-transform: uppercase;
        padding: .5em 0;
        line-height: $header-lineheight;
        color:inherit;
        &:hover, &:focus {
            color:$primary-color;
            // &:before {
            //     border-color: currentColor;
            // }
        }
        &:before {
            position: absolute;
            left:-2rem;
            top:.5em;
            bottom:.75em;
            content:'';
            display: block;
            width:15px;
            height: auto;
            border-right: 5px dotted transparent;
            border-left: 5px dotted transparent;
        }
    }

    .is-active {
        > a {
            background-color: transparent;
            color: inherit;
            &:before {
                border-color: $alert-color;
            }
        }
    }
}