.promotion {
    padding-top: 2rem;
    padding-bottom: 2rem;

    color: $white;
    background-color: $primary-color;
    background-image: linear-gradient(60deg, $primary-color, $secondary-color);

}
.promotion--light {
    color:$body-font-color;
}
.promotion__inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include breakpoint(large) {
        padding-top: 6vh;
        padding-bottom: 6vh;
    }
}

.promotion__subtitle {
    font-size: 1rem;
    font-weight: $global-weight-bold;
    margin: 0;
    //color:$warning-color;
    text-transform: uppercase;
    //text-shadow: 0 0 3px rgba(#fff,.25);
}
.promotion__title {
    font-size: 1.5rem;
    @include breakpoint(large) {
        font-size: 2.25rem;
    }
}

.promotion__lead {
    border-left:.5rem dotted $warning-color;
    padding-left: 3%;

}

.promotion__action {
    margin:0;
    &.readmore {
        font-size: .875rem;
        color:$white;
        //text-decoration: underline;
        &:hover, &:focus {
            text-decoration: underline;
            //color:$warning-color;
        }
    }
}