.stabtabletitle {
    font-size: 1.5rem;
    margin:0 auto .5em auto;
    max-width: 42rem;
    padding: .75rem .5rem .625rem;
    border-bottom: 1px solid $primary-color;
    color:$primary-color;
    //font-family: $body-font-family;

}
.stabtable {
    //font-family: $header-font-family;
    //font-weight: $global-weight-bold;
    line-height: 1.2;
    margin:0 auto 3rem auto;
    //font-style: italic;
    max-width: 42rem;

    // thead {
    //     display: none;
    // }

}
.stabtable__name {
    font-family: $header-font-family;
    font-weight: $global-weight-bold;
    //color:$primary-color;
    font-size: 1.125rem;

    small {
        font-size: .75em;
        display: block;
        margin:.125em 0 0;
        font-family: $body-font-family;
        font-weight: $global-weight-normal;
        //color: $body-font-color;
        line-height: 1;
        font-style: italic;
    }
}

table.stabtable tbody td, table.stabtable tbody th {
    padding: .875rem .625rem .75rem;
}

table.stabtable tbody, table.stabtable tfoot, table.stabtable thead {
    border:none;
}

table.stabtable.unstriped tbody tr {
    border: none;
}