.orbit-bullets {
    text-align: left;
    button {
        //border-radius: 0;
    }
}
.testimonial {
    border-left:none;
    padding:0;
    margin: 0;

    cite {
        font-family: $body-font-family;
        font-weight: $global-weight-bold;
        //color:$warning-color;
        color:inherit;
        font-size: .666em;
        &:before {
            display: none;
        }
    }
}

.testimonial, .testimonial p {
    font-size: 1.125rem;
    color:inherit;
    font-style: normal;
    text-shadow: 0 0 3px rgba($primary-color,.5);
    @include breakpoint('xlarge') {
        font-size: 1.333rem;
    }
}

.testimonial p {

}