html {
    @media screen and (min-width: 110em) {
        font-size: 105.625%;
    }
}
.grid-container {
    @include breakpoint(tablet) {
        max-width: 95%;
    }
    @include breakpoint(large) {

    }
    @include breakpoint(xlarge) {
        max-width: 92%;
    }
    @include breakpoint(xxlarge) {
        max-width: 90%;
    }
    @media screen and (min-width: 110em) {
        max-width: $global-width;
    }
    .grid-container {
        @include breakpoint(tablet) {
            max-width: $global-width;
        }
        @include breakpoint(large) {
            max-width: $global-width;
        }
        @include breakpoint(xlarge) {
            max-width: $global-width;
        }
        @include breakpoint(xxlarge) {
            max-width: $global-width;
        }
    }

}

.lead {
    //font-family: $header-font-family;
    font-weight: $global-weight-bold;
}

.readmore {
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    font-size: .666em;
    &:before {
        content: '\00bb'+' ';
    }
    &:hover, &:focus {
        color:$alert-color;
    }
}

.readmore--large {
    font-size: .875rem;
}

.button {
    //font-family: $header-font-family;
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgba(#000,.25);
}

blockquote {
    &, & p {
        font-size: 1.25rem;
        font-style: italic;
        //color:$secondary-color;
    }

    cite {
        font-family: $header-font-family;
        font-style: normal;
        color:$body-font-color;
        font-size:1rem;
        //font-weight: $global-weight-bold;
    }
}

.grid-thumbs {
    .thumbnail {
        margin-bottom:0;
    }
}