.lead {
    //font-family: $header-font-family;
    font-weight: $global-weight-bold;
}

.readmore {
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    font-size: .666em;
    &:before {
        content: '\00bb';
        margin-right: .25em;
    }
    &:hover, &:focus {
        color:$alert-color;
    }
}

.readmore--large {
    font-size: .875rem;
}

.button {
    font-family: $header-font-family;
    font-weight: $global-weight-bold;
    text-transform: uppercase;
}

blockquote {
    &, & p {
        font-size: 1.25rem;
        font-style: italic;
        //color:$secondary-color;
    }

    cite {
        font-family: $header-font-family;
        font-style: normal;
        color:$body-font-color;
        font-size:1rem;
    }
}