.front__thecontent {


     > .grid-container {
        padding-top: 3.5vw;
        padding-bottom: 30vw;

        background-image: url(../images/nyitolap.jpg);
        background-repeat: no-repeat;
        background-position: center bottom -5vw;
        background-size: 250% auto;

    }

    .widget--blogcage {
        background-color: $xxlight-gray;
        border:1px solid $xlight-gray;
        padding: 7% 8% 7%;
        margin-bottom:1rem;
        .readmore {
            display: inline-block;
            margin-top: 2em;
        }
    }
}

.front__bottom {
    background-color: $primary-color;
    background-image: url(../images/pattern-white20.png), linear-gradient(60deg, $primary-color 0, $secondary-color 20%, $secondary-color 80%, $primary-color 100% );
    background-repeat: repeat, no-repeat;
    background-size: 12rem auto, 100%;
    border:1px solid $primary-color;
}
