.front__thecontent {


     > .grid-container {
        padding-top: 3.5vw;
        padding-bottom: 30vw;

        background-image: url(../images/nyitolap.jpg);
        background-repeat: no-repeat;
        background-position: center bottom -5vw;
        background-size: 250% auto;

    }

    .widget--blogcage {
        background-color: $xxlight-gray;
        border:1px solid $xlight-gray;
        padding: 7% 8% 7%;
        margin-bottom:1rem;
        .readmore {
            display: inline-block;
            margin-top: 2em;
        }
    }
}

.front__bottom {
}
