.sitefooter {
  border-top: 1px solid $xlight-gray;
  //background-color: #fff;
  //background-image: url(../images/nyitolap-stolen.jpg);
  //background-repeat: no-repeat;
  //background-size: 100% auto;
  //background-position: center bottom;
  //background-attachment: fixed;

    .ps--bordered + & {
        border-top: none;
    }


}

.sitefooter__main {
    padding-top: 3.75rem;
    padding-bottom: 2.5rem;
    font-size: .875rem;
    //color:$dark-gray;
    a {
        color:inherit;
        &:hover, &:focus {
            color:$primary-color;
        }
    }



    @include breakpoint(large) {
        //padding-top: 8vh;
        //padding-bottom: 5vh;
    }

}

.sitefooter__sub {
    text-transform: uppercase;
    font-size: .75rem;
    //font-family: $header-font-family;
    font-weight: $global-weight-bold;
    color:$dark-gray;
    //background-color: $xxlight-gray;
    border-top:1px solid $xlight-gray;
    background-color: $xxlight-gray;
    padding:.666rem 0 .875rem;
    p {
        margin:0;
    }
    a {
        //color:$alert-color;
        &:hover, &:focus {
            color:$alert-color;
        }
    }
}

.fsocial {
    //position: absolute;
    line-height: 1;
    font-size: 1.5em;
    display: inline-block;
    transform: translateY(.2em);
}

.ficonized {
    padding-left: 3.5em;
    position: relative;
    //margin-bottom: 2em;
    .icon {
        position: absolute;
        left:0; top:0;
        font-size: 2.875em;
        display: inline-block;
    }
}