.html.is-reveal-open, html.is-reveal-open body {
    width:100%;
}
.mobilemodal {
    padding: 0;
    //position: relative;
    //background-color: $primary-color;
    //background-image: linear-gradient(135deg, $primary-color 50%, $secondary-color);
    //color:$white;
    text-align: center;
    height: 100%;
    min-height: auto;
    overflow: hidden;

    p {
        font-size: .875rem;
    }

    .close-button {
        font-size: 3em;
        color:$alert-color;
    }

    @include breakpoint(medium) {
        width:auto;
        max-width: none;
    }

}
.mobilemodal__inner {
    padding:1rem 10% 6rem;
    position: absolute;
    left:0; top:0;
    right:0; bottom:0;
    overflow: scroll;
}
.mobilemodal__brand {
    display: block;
    width:25%;
    margin:6% auto 12%;
}
.mobilemodal__mainnav {
    margin: 0 0 1rem;
}

.mobilemodal__studentnav {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    margin: 0 0;
    padding:1rem 1rem;
    border-top:1px solid $xlight-gray;
    background-color: $white;

}
.mobilemodal__enaplo {
    margin-bottom: 0;
}