.single-format-gallery {
    .post__content {
        margin-top: 1rem;
    }
}

.post__footer {
    & > *:first-child() {
        border-top: 1px solid $xlight-gray;
        padding-top: 3rem;
        margin-top: 3rem;
    }
    .widget {
        margin-bottom: 5rem;
    }
    & > *:last-child() {
        margin-bottom: 2rem;
    }

}