.toprow {
    @include clearfix();
    background-color: $xlight-gray;
    border-bottom: 1px solid $light-gray;
    color:$primary-color;
    color:$dark-gray;
}
.toprow__nav {
    float:right;
    max-width: calc(100% - 5rem);
    margin:.333rem 0;
}
.toprow__action {
    float:right;
    line-height: 1;
    font-size: .75rem;
    color:$white;
    display: inline-block;
    background-color: $alert-color;
    padding: .5em 1em;
    margin:.3666rem 0;
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    border-radius: 1em;
    &:hover, &:focus {
        color:$white;
        background-color: $warning-color;
    }
}